<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add ticket</title>
</head>
<body>
<form th:action="@{/cruise/{name}/edit/adding-ticket(name=${name})}" th:object="${ticketDTO}" method="post">
    <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
    <div class="input-group">

        <div class="form-group" >
            <label th:text="name" ></label>
            <input type="text" th:field="*{ticketName}">
        </div>

        <div class="form-group">
            <label th:text="price" ></label>
            <input type="text"  th:field="*{price}">
        </div>

        <div class="form-group">
            <label th:text="discount" ></label>
            <input type="text"  th:field="*{discount}">
        </div>

        <button type="submit" class="btn btn-default"  th:text="Submit"></button>

    </div>

</form>
</body>
</html>