<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Description</title>
</head>
<body>
<form th:action="@{/cruise/{name}/edit/descriptionEdit(name=${name})}" th:object="${descriptionDTO}" method="post">
    <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
    <div class="input-group">
        <div class="form-group" >
            <label th:text="ENG" ></label>
            <input type="text" th:field="*{description_eng}">
        </div>
        <div class="form-group">
            <label th:text="RU" ></label>
            <input type="text"  th:field="*{description_ru}">
        </div>
        <button type="submit" class="btn btn-default"  th:text="Submit"></button>

    </div>

</form>
</body>
</html>