<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Buy cruise</title>
    <link rel="stylesheet" href="/static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>


<form th:action="@{/cruise/buy}" method="post" th:object="${orderDTO}">
    <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
    <div class="form-row" >
        <input hidden name="cruiseName" th:value="${name}">
        <div class="col">
            <input type="text" class="form-control" placeholder="Имя" th:field="*{firstName}">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Фамилия" th:field="*{secondName}">
        </div>
    </div>
    <div class="input-group">
        <div class="form-check form-check-inline" th:each="ticket: ${cruise.tickets}" >
<!--            <input hidden   th:name="id" th:value="${ticket.id}">-->
<!--            <input hidden   th:name="price" th:value="${ticket.price}" >-->
            <input class="form-check-input" type="radio" id="inlineCheckbox0"  th:field="*{ticket_id}" th:value="${ticket.id}" >
            <label  class="form-check-label" th:for="${#ids.next('ticket')}"   th:text="${ticket.ticketName} + ${ticket.price}" >1</label>
        </div>
    </div>
<!--    <div th:object="${modelTicket}">-->
<!--        <div class="form-check form-check-inline" th:each="ticket: ${cruise.tickets}" >-->
<!--            <input hidden   th:name="id" th:value="${ticket.id}">-->
<!--            <input hidden   th:name="price" th:value="${ticket.price}" >-->
<!--            <input class="form-check-input" type="radio" id="inlineCheckbox0"  th:field="*{ticketName}" th:value="${ticket.ticketName}" >-->
<!--            <label  class="form-check-label" th:for="${#ids.next('ticket')}"   th:text="${ticket.ticketName} + ${ticket.price}" >1</label>-->
<!--        </div>-->
<!--    </div>-->
<!---->
    <!--                th:field="*{excursionsDTO[__${stat.index}__].id}"-->
    <!--              th:field="*{excursionsDTO[__${stat.index}__].duration}"-->
    <!--             th:field="*{excursionsDTO[__${stat.index}__].price}" -->
    <!--                         th:name="|excursionsDTO[${stat.index}].id|" -->
    <!--                          th:name="|excursionsDTO[${stat.index}].duration|"-->
    <!--                        th:name="|excursionsDTO[${stat.index}].price|"   -->
    <!--                th:field="*{excursionDTO.excursionsDTO[__${stat.index}__].excursionName}"   -->
    <!--                 th:name="|excursionsNames[${stat.index}].excursionName|"    -->
        <div >
        <div class="form-check form-check-inline" th:each="excursion, stat : ${allExcursions.excursionsDTO}" >
            <label th:text="${excursion.port.portName}">  </label>
                    <div class="input-group">
                        <div class="form-check form-check-inline">
                            <label  class="form-check-label" th:text="${excursion.excursionName} + ${excursion.price}"  ></label>
                            <input class="form-check-input" type="radio" id="inlineCheckbox1" th:name="|excursionNames[${stat.index}]|"   th:value="${excursion.excursionName}" >
                        </div>
                    </div>
        </div>
<!--        <div th:object ="${excursionsDTOTest}">-->
<!--            <div class="container" th:each="excursion, stat: ${excursionDTO.excursionsDTO}">-->
<!--                <label th:text="${excursion.port.portName}"></label>-->
<!--                <div class="form-check form-check-inline">-->
<!--                    <label  class="form-check-label" th:text="${excursion.excursionName} + ${excursion.price}"  ></label>-->
<!--                    <input class="form-check-input" type="radio" id="inlineCheckboxT1"  th:name="|excursionsDTO[${stat.index}].excursionName|" th:value="${excursion.excursionName}" >-->
<!--                    <input hidden id="inlineCheckboxT2"  th:name="|excursionsDTO[${stat.index}].id|"  th:value="${excursion.id}">-->
<!--                    <input hidden id="inlineCheckboxT3"   th:name="|excursionsDTO[${stat.index}].duration|"  th:value="${excursion.duration}">-->
<!--                    <input hidden id="inlineCheckboxT4"  th:name="|excursionsDTO[${stat.index}].price|"  th:value="${excursion.price}" >-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <p><input type="submit" value="Submit" /></p>
    </div>
<!--    <button type="button" class="btn btn-default"  th:text="Submit"></button>-->
</form>

</body>
</html>