<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buy cruise</title>
    <link rel="stylesheet" href="/static/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="/webjars/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>


<form id="buy" th:action="@{/user/cruise/buy}" method="post" th:object="${orderDTO}">
    <input name="${_csrf.parameterName}" value="${_csrf.token}" type="hidden">
        <div class="error"  style="color: red;" th:if="${#fields.hasErrors('*')}">
            <p><strong>Errors</strong></p>
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
            </ul>
        </div>
        <div class="form-row" >
            <div class="col">
                <div class="error"  style="color: red;" th:if="${#fields.hasErrors('firstName')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></li>
                    </ul>
                </div>
                <input type="text" class="form-control" placeholder="Имя" th:field="*{firstName}">
            </div>
            <div class="col">
                <div class="error"  style="color: red;" th:if="${#fields.hasErrors('secondName')}">
                    <ul>
                        <li th:each="err : ${#fields.errors('secondName')}" th:text="${err}"></li>
                    </ul>
                </div>
                <input type="text" class="form-control" placeholder="Фамилия" th:field="*{secondName}">
            </div>
        </div>
        <div class="form-group">
            <select th:field="*{ticket}">
                <option th:each="ticket, stat: ${tickets}"
                        th:value="${ticket.id}"
                        th:text="${ticket.ticketName} + ' ' + ${ticket.priceWithDiscount} " >
                </option>

            </select>
        </div>

    <p><input type="submit" value="Submit" /></p>
</form>

<!--<div class="form-group">-->
<!--    <table>-->
<!--        <thead class="thead-dark">-->
<!--        <tr>-->
<!--            <th scope="col"> first name</th>-->
<!--            <th scope="col"> Second name</th>-->
<!--            <th scope="col"> Ticket</th>-->
<!--            <th scope="col"> Ticket price</th>-->
<!--            <th scope="col"> Ticket discount</th>-->
<!--            <th scope="col"> Price</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody th:each="ticket, stat: ${session.cruise.tickets}">-->
<!--            <form th:action="@{/user/cruise/buy}" method="post" th:object="${orderDTO}">-->
<!--                <tr>-->
<!--                    <td><input type="text" required th:field="*{firstName}"></td>-->
<!--                    <td><input type="text" required th:field="*{secondName}"</td>-->
<!--                    <td th:text = "${ticket.ticketName}"></td>-->
<!--                    <td th:text = "${ticket.price}"></td>-->
<!--                    <td th:text = "${ticket.discount}"></td>-->
<!--                    <td th:text = "${ticketsPrice[__${stat.index}__]}"></td>-->
<!--                    <td >-->
<!--                        <input hidden th:name ="ticket" th:value="${ticket.id}"/>-->
<!--                        <input hidden th:name = "orderPrice" th:value="${ticketsPrice[__${stat.index}__]}"/>-->
<!--                        <p><input type="submit" value="Submit"/></p>-->
<!--                    </td>-->
<!--                </tr>-->
<!--            </form>-->
<!--        </tbody>-->
<!--    </table>-->
<!--</div>-->

<!--<table class="table" style="-->
<!--    width: 40%;-->
<!--    margin: 0 auto;-->
<!--    background:  #0c5460;-->
<!--    border-radius: 10px;-->
<!--    color: white;-->
<!--    "-->
<!--&gt;-->
<!--    <tbody>-->
<!--    <tr th:if="${excursions.empty}">-->
<!--        <td colspan="2" th:text="#{message.users.empty}"> </td>-->
<!--    </tr>-->
<!--    <tr th:each="excursion, itemStat :${excursions}">-->
<!--        <td  th:text="${excursion.id}"></td>-->
<!--        <td  th:text="${excursion.excursionName}"></td>-->
<!--        <td th:text="${excursion.price}"></td>-->
<!--        <td>-->
<!--            <form id="add" class="form-group" th:action="@{/user/add/excursion}" method="post" th:object="${excursionDTO}">-->
<!--                <input type="hidden" name="id" th:value="${excursion.id}"  />-->
<!--                <input type="hidden" name="excursionName" th:value="${excursion.excursionName}"/>-->
<!--                <input type="hidden" name="price" th:value="${excursion.price}" />-->
<!--                <input type="hidden" name="duration" th:value="${excursion.duration}"/>-->
<!--                <button class="btn btn-success"  th:text="Add"></button>-->
<!--            </form>-->
<!--        </td>-->
<!--        <td>-->
<!--            <form id="remove" class="form-group" th:action="@{/user/remove/excursion}" method="post" th:object="${excursionDTO}">-->
<!--                <input type="hidden" name="id" th:value="${excursion.id}"  />-->
<!--                <input type="hidden" name="excursionName" th:value="${excursion.excursionName}"/>-->
<!--                <input type="hidden" name="price" th:value="${excursion.price}" />-->
<!--                <input type="hidden" name="duration" th:value="${excursion.duration}"/>-->
<!--                <button class="btn btn-danger"  th:text="Remove"></button>-->
<!--            </form>-->
<!--        </td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
<!-- todo norm-->
<!--    <div class="error"  style="color: red;" th:if="${#fields.hasErrors('*')}">-->
<!--        <p><strong>Errors</strong></p>-->
<!--        <ul>-->
<!--            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div class="form-row" >-->
<!--        <input hidden name="cruiseName" th:value="${name}">-->
<!--        <div class="col">-->
<!--            <div class="error"  style="color: red;" th:if="${#fields.hasErrors('firstName')}">-->
<!--                <ul>-->
<!--                    <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <input type="text" class="form-control" placeholder="Имя" th:field="*{firstName}">-->
<!--        </div>-->
<!--        <div class="col">-->
<!--            <div class="error"  style="color: red;" th:if="${#fields.hasErrors('secondName')}">-->
<!--                <ul>-->
<!--                    <li th:each="err : ${#fields.errors('secondName')}" th:text="${err}"></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <input type="text" class="form-control" placeholder="Фамилия" th:field="*{secondName}">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="input-group">-->
<!--        <div class="form-check form-check-inline" th:each="ticket, stat: ${cruise.tickets}" >-->
<!--            <div class="error"  style="color: red;" th:if="${#fields.hasErrors('ticket_id')}">-->
<!--                <ul>-->
<!--                    <li th:each="err : ${#fields.errors('ticket_id')}" th:text="${err}"></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <input class="form-check-input" type="radio" id="inlineCheckbox0"  th:field="*{ticket_id}" th:value="${ticket.id}" >-->
<!--            <label  class="form-check-label" th:for="${#ids.next('ticket')}"   th:text="${ticket.ticketName} + ${ticketsPrice[__${stat.index}__]}" >1</label>-->
<!--        </div>-->
<!--    </div>-->
<!--        <div >-->
<!--        <div class="form-check form-check-inline" th:each="excursion, stat : ${allExcursions.excursionsDTO}" >-->
<!--            <label th:text="${excursion.port.portName}">  </label>-->
<!--                    <div class="input-group">-->
<!--                        <div class="form-check form-check-inline">-->
<!--                            <label  class="form-check-label" th:text="${excursion.excursionName} + ${excursion.price}"  ></label>-->
<!--                            <input class="form-check-input" type="radio" id="inlineCheckbox1" th:name="|excursionNames[${stat.index}]|"   th:value="${excursion.excursionName}" >-->
<!--                        </div>-->
<!--                    </div>-->
<!--        </div>-->
<!--        <p><input type="submit" value="Submit" /></p>-->
<!--    </div>-->


</body>
</html>