<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>Add ticket</title>

    <link href="/static/style.css" rel="stylesheet">

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" rel="stylesheet">

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
    <!-- Optional theme -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" rel="stylesheet">
</head>
<body>
<div th:replace="header :: header"></div>
<form method="post" th:action="@{/cruise/edit/add/ticket}" th:object="${ticketDTO}">
    <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}">


    <div class="input-group" style=" height: 50px; width: 20%;
         margin: 6.25% auto;
         border-radius: 10px;
         color: black;
        ">
        <p class="alert alert-info" role="alert" th:if="${error}" th:text="#{alert.wrong.ticket.name}"></p>
        <p class="alert alert-info" role="alert" th:if="${success}" th:text="#{alert.ticket.success.added}"></p>
        <div class="form-group">
            <div class="error" style="color: red;" th:if="${#fields.hasErrors('ticketName')}">
                <p><strong>Errors</strong></p>
                <ul>
                    <li th:each="err : ${#fields.errors('ticketName')}" th:text="${err}"></li>
                </ul>
            </div>
            <label th:text="name"></label>
            <input class="form-control" required th:field="*{ticketName}" type="text">
        </div>
        <div class="form-group">
            <div class="error" style="color: red;" th:if="${#fields.hasErrors('price')}">
                <p><strong>Errors</strong></p>
                <ul>
                    <li th:each="err : ${#fields.errors('price')}" th:text="${err}"></li>
                </ul>
            </div>
            <label th:text="price"></label>
            <input class="form-control" min="0" placeholder="0" required step="10" th:field="*{price}"
                   type="number">
        </div>
        <div class="form-group">
            <div class="error" style="color: red;" th:if="${#fields.hasErrors('discount')}">
                <p><strong>Errors</strong></p>
                <ul>
                    <li th:each="err : ${#fields.errors('discount')}" th:text="${err}"></li>
                </ul>
            </div>
            <label th:text="discount"></label>
            <input class="form-control" max="100" min="0" placeholder="0" required step="10" th:field="*{discount}"
                   type="number">
        </div>
        <button class="btn btn-default" th:text="#{button.submit}" type="submit"></button>
    </div>
    <a aria-pressed="true" class="btn btn-primary btn-lg active" role="button" th:href="@{/user}"
       th:text="#{button.user.page}"> </a>


</form>
</body>
</html>