<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit Description</title>
</head>
<body>
<form method="post" th:action="@{/cruise/edit/description}" th:object="${descriptionDTO}">
    <input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}">
    <div class="input-group">

        <div class="form-group">
            <label th:text="ENG"></label>
            <div class="error" style="color: red;" th:if="${#fields.hasErrors('description_eng')}">
                <p><strong>Errors</strong></p>
                <ul>
                    <li th:each="err : ${#fields.errors('description_eng')}" th:text="${err}"></li>
                </ul>
            </div>
            <input required th:field="*{description_eng}" type="text" value="${cruise.description_eng}">
        </div>
        <div class="form-group">
            <label th:text="RU"></label>
            <div class="error" style="color: red;" th:if="${#fields.hasErrors('description_ru')}">
                <p><strong>Errors</strong></p>
                <ul>
                    <li th:each="err : ${#fields.errors('description_ru')}" th:text="${err}"></li>
                </ul>
            </div>
            <input required th:field="*{description_ru}" type="text" value="${cruise.description_ru}">
        </div>
        <button class="btn btn-default" th:text="Submit" type="submit"></button>

    </div>

</form>
</body>
</html>