<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<a aria-pressed="true" class="btn btn-primary btn-lg active" role="button" th:href="@{/cruise/edit/description}">Description</a>
<a aria-pressed="true" class="btn btn-primary btn-lg active" role="button" th:href="@{/cruise/edit/add/ticket}">Add
    Ticket</a>
<a aria-pressed="true" class="btn btn-primary btn-lg active" role="button" th:href="@{/cruise/edit/all_passengers}">Passengers</a>
</body>
</html>