<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Buy submit</title>
    <link href="/static/style.css" rel="stylesheet">

    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" rel="stylesheet">

    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
    <!-- Optional theme -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" rel="stylesheet">
</head>
<body>

<div th:replace="header :: header"></div>

<h1>Receipt</h1>
<table>
    <tr>
        <td>First name</td>
        <td th:text="${session.order.firstName}"></td>
    </tr>
    <tr>
        <td>Second name</td>
        <td th:text="${session.order.secondName}"></td>
    </tr>
    <tr>
        <td>Cruise</td>
        <td th:text="${session.cruise.cruiseName}"></td>
    </tr>
    <tr>
        <td>Ticket Name</td>
        <td th:text="${session.order.ticket.ticketName}"></td>
    </tr>
    <tr>
        <td>Ticket Price</td>
        <td th:text="${session.order.ticket.price}"></td>
        <td></td>
    </tr>
    <tr>
        <td>Ticket Discount</td>
        <td th:text="${session.order.ticket.discount}"></td>
    </tr>
    <tr>
        <td>Total</td>
        <td th:text="${session.order.orderPrice}"></td>
    </tr>
</table>

<table>
    <thead class="thead-dark">
    <tr>
        <th scope="col" th:text="#{table.excursion.port}"> port</th>
        <th scope="col" th:text="#{table.excursion.name}"> Name</th>
        <th scope="col" th:text="#{table.excursion.duration}"> duration</th>
        <th scope="col" th:text="#{table.excursion.price}"> price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="excursion: ${excursions}">
        <td th:text="${excursion.port.portName}"></td>
        <td th:text="${excursion.excursionName}"></td>
        <td th:text=" ${excursion.duration}"></td>
        <td th:text="${excursion.price}"></td>
        <td>
            <form class="form-group" id="add" method="post" th:action="@{/user/add/excursion}">
                <input name="id" th:value="${excursion.id}" type="hidden"/>
                <button class="btn btn-success" th:text="#{button.add}"></button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<table>
    <thead class="thead-dark">
    <tr>
        <th scope="col" th:text="#{table.excursion.port}"> port</th>
        <th scope="col" th:text="#{table.excursion.name}"> Name</th>
        <th scope="col" th:text="#{table.excursion.price}"> price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="selectedExcursion: ${session.order.excursions}">
        <td th:text="${selectedExcursion.port.portName}"></td>
        <td th:text="${selectedExcursion.excursionName}"></td>
        <td th:text="${selectedExcursion.price}"></td>
        <td>
            <form method="post" th:action="@{/user/remove/excursion}">
                <input name="id" th:value="${selectedExcursion.id}" type="hidden"/>
                <button class="btn btn-danger" th:text="#{button.remove}"></button>
            </form>
        </td>
    </tr>

    </tbody>
</table>
<form method="post" th:action="@{/user/cruise/buy}">
    <button class="btn btn-success" value="Submit">Submit</button>
</form>
</body>
</html>